@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Mukta:wght@500&display=swap');
.g-base {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    background-color: hsl(0, 0%, 5%);
    color: white;
    max-width: 2000px;
}
header {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.g-logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    cursor: default;
    background: linear-gradient(to right,white, #79d2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active {
    text-decoration: underline;
    text-decoration-color: #79d2ff;
    text-underline-offset: 10px;
}

nav a {
    font-size: 1.2rem;
    color: white;
    margin-right: 30px;
    transition: .3s;
    text-decoration: none;
}
nav a:hover {
    color: #79d2ff;
}


#p-main {
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
}
#s-content {
    max-width: 600px;
}
#s-content h2 {
    font-size: 3.5rem;
}
#s-content h2 span {
    color: #79d2ff;
}
#s-content h4 {
    margin-top: -50px;
    font-size: 2em;
}
#s-content p {
    margin-top: -20px;
    font-size: 1.2rem;
}


.g-socials {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: flex-end;
}
.g-socials a {
    width: 33px;
    height: 32px;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #79d2ff;
    transition: .5s;
}
.g-socials a:hover {
    transform: translateY(-10px);
}
.g-socials a i {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
}

.g-head {
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}

#p-resume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.cards{
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: hsl(0, 0%, 10%);
    max-width: 600px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #79d2ff;
}

.cards img {
    width: 50vh;
    max-width: 100%;
    height: auto;
}

.cards h1{
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #79d2ff;
}

.cards #s-about-me p {
    margin: 20px;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.cards #s-skills ul {
    margin-right: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#s-skills li {
    cursor: default;
    padding: 10px;
    font-size: 1.2rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin: 10px;
    border-color: #79d2ff;
    transition: .3s;
}

#s-skills li:hover {
    border-color: white;
}

#s-education {
    margin: 20px;
}

#s-education h3 {
    font-size: 1.3rem;
}

#s-education p {
    margin-top: -20px;
    opacity: 50%;
    font-size: 1rem;
}

#s-education ul {
    margin-top: -10px;
}

#s-education ul li {
    margin-top: 10px;
}

#s-work-experience {
    margin: 20px;
}

#s-work-experience p {
    margin-top: -10px;
    opacity: 50%;
    font-size: 1rem;
}

#s-work-experience ul {
    margin-top: -10px;
}

#s-work-experience ul li {
    margin-top: 10px;
    font-size: 1.2rem;
}


#p-web-apps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

#p-web-apps .cards {
    max-width: 500px;
    padding: 20px;
}

#p-web-apps ul {
    text-align: left;
}

#s-portfolio-site {
    max-width: 700px;
}

#s-portfolio-site p {
    margin: 20px;
    text-align: start;
}

#s-portfolio-site img {
    display: flex;
    border-radius: 10px;
    margin: auto;
}

#s-pass-gen {
    max-width: 700px;
}

#s-pass-gen p{
    margin: 20px;
    text-align:start
}

#s-pass-gen img {
    border-radius: 10px;
    margin: auto;
}


#p-other-apps a {
    text-decoration: none;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #79d2ff;
    border-width: 2px;
    font-size: 1.2rem;
    transition: .3s;
    padding: 5px;
    margin: 10px;
}

#p-other-apps a:hover {
    border-color: white;
}

#p-other-apps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

#p-other-apps .cards {
    max-width: 500px;
    padding: 20px;
}

#p-other-apps ul {
    text-align: left;
}

#s-word-counter {
    max-width: 700px;
}

#s-word-counter p {
    margin: 20px;
    text-align: start;
}

#s-word-counter img {
    border-radius: 10px;
    margin: auto;
}

#s-date-dismantler {
    max-width: 700px;
}

#s-date-dismantler p{
    margin: 20px;
    text-align:start
}

#s-date-dismantler img {
    border-radius: 10px;
    margin: auto;
}

@media screen and (max-width: 620px) {
    header {
        display: flex;
        flex-direction: column;
    }
    nav a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 1.7rem;
        margin: 10px;
    }
}

@media screen and (max-width: 430px) {
    .g-logo {
        text-align: center;
    }

    #s-content {
        height: 50vh;
    }

    #s-content h2 {
        font-size: 2.2rem;
    }

    #s-content h4 {
        font-size: 1.6rem;
        padding-top: 12px;
    }

    #s-content p {
        font-size: 1.2rem;
    }
}




